*{
	all: unset;
	font-family: Roboto;
}



.time-container, .song-container {
  border-radius: 10px;
  background-color: #1e1e2e;
  color: #ffffff;
  opacity: 0.8;

}

.title-container {
  font-size: 20px;
  font-weight: bold;
}

.artist-container {
  font-size: 18px;
}
